 .u-section-1 {
  background-image: url("images/jh-17.jpg");
  background-position: 50% 50%;
  min-height: 686px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 686px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-weight: 700;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  margin: 176px -25px 0 40px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  line-height: 1.8;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 40px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 31px auto 0 40px;
  padding: 15px 44px 17px;
}

.u-section-1 .u-image-1 {
  min-height: 686px;
  pointer-events: auto;
  background-image: url("images/5807340-min.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 30px 50px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 590px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 416px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 176px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 508px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 230px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 393px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 312px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 260px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1188px;
}

.u-section-2 .u-shape-1 {
  height: 192px;
  background-image: linear-gradient(to right, #478ac9, #f1c50e);
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 967px;
  margin: -349px auto -97px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 228px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 839px;
}

.u-section-2 .u-container-layout-2 {
  padding: 13px 0;
}

.u-section-2 .u-image-1 {
  width: 439px;
  height: 515px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-style: normal;
  margin: 20px 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 35px auto 0;
  padding: 15px 44px 17px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 642px;
}

.u-section-2 .u-container-layout-3 {
  padding: 2px 0;
}

.u-section-2 .u-image-2 {
  height: 546px;
  width: 420px;
  margin: 57px -9px 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 425px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1147px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 64px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: -93px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 816px;
  }

  .u-section-2 .u-image-1 {
    height: 516px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 615px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 413px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 2015px;
  }

  .u-section-2 .u-shape-1 {
    height: 345px;
    margin-top: 50px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -440px;
    margin-bottom: -45px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 999px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 637px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 262px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1893px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 49px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -46px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 478px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 346px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1689px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 150px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 55px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 400px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 301px;
  }

  .u-section-2 .u-image-2 {
    height: 442px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 822px;
}

.u-section-3 .u-shape-1 {
  height: 502px;
  background-image: linear-gradient(to right, #478ac9, #f1c50e);
  width: calc(((100% - 1140px) / 2) + 652px);
  margin: 0 auto 0 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: -120px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 356px;
  grid-gap: 20px 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 4px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  margin: 0 9px;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  margin: 16px 0 0 9px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 4px 0;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  margin: 0 9px;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-weight: 700;
  margin: 16px 0 0 9px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 4px 0;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  margin: 0 9px;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  font-weight: 700;
  margin: 16px 0 0 9px;
}

.u-section-3 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(to right, #478ac9, #f1c50e);
  margin: -682px auto 0 calc(((100% - 1140px) / 2) + -29px);
}

.u-section-3 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -147px 118px 535px 160px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    height: 531px;
    width: calc(((100% - 940px) / 2) + 690px);
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: -439px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 294px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -533px;
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-3 .u-text-7 {
    margin-top: -243px;
    margin-left: calc(((100% - 940px) / 2) + 110px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1157px;
  }

  .u-section-3 .u-shape-1 {
    height: 824px;
    width: calc(((100% - 720px) / 2) + 651px);
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: -733px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 676px;
  }

  .u-section-3 .u-shape-2 {
    width: 199px;
    height: 199px;
    margin-top: 212px;
    margin-right: calc(((100% - 720px) / 2) + 22px);
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-3 .u-text-7 {
    margin-top: -204px;
    margin-left: calc(((100% - 720px) / 2) + 110px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1424px;
  }

  .u-section-3 .u-shape-1 {
    height: 1019px;
    width: calc(((100% - 540px) / 2) + 356px);
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: -928px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 836px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 283px;
    margin-right: calc(((100% - 540px) / 2) + 13px);
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-3 .u-text-7 {
    margin-top: -283px;
    margin-left: calc(((100% - 540px) / 2) + 110px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1359px;
  }

  .u-section-3 .u-shape-1 {
    height: 1240px;
    width: calc(((100% - 340px) / 2) + 242px);
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: -1149px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 98px;
    margin-right: calc(((100% - 340px) / 2) + 13px);
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
    margin-top: -98px;
    margin-right: 74px;
    margin-left: calc(((100% - 340px) / 2) + 110px);
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1194px;
}

.u-section-4 .u-shape-1 {
  width: 737px;
  background-image: linear-gradient(#478ac9, #f1c50e);
  height: 930px;
  margin: 248px 0 0 auto;
}

.u-section-4 .u-image-1 {
  width: 646px;
  height: 678px;
  object-position: 50% 0%;
  margin: -1052px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 518px;
  min-height: 402px;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  height: auto;
  background-image: none;
  --animation-custom_in-scale: 1;
  margin: -741px 16px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 28px 25px 0 54px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 130px 28px 0 auto;
  padding: 15px 44px 17px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1079px;
  margin: 153px auto 46px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 530px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 126px;
  height: 126px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 16px 5px 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 126px;
  height: 126px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 16px 5px 0;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 126px;
  height: 126px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 16px 5px 0;
}

.u-section-4 .u-list-item-4 {
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-5 {
  width: 126px;
  height: 126px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 16px 5px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-4 .u-shape-1 {
    width: 686px;
    margin-top: 243px;
  }

  .u-section-4 .u-image-1 {
    width: 543px;
    height: 570px;
  }

  .u-section-4 .u-group-1 {
    width: 405px;
    min-height: 508px;
    margin-top: -646px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 98px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-top: 91px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 462px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 191px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 191px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    width: 191px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1705px;
  }

  .u-section-4 .u-shape-1 {
    width: 574px;
    height: 1215px;
    margin-top: 490px;
  }

  .u-section-4 .u-image-1 {
    width: 474px;
    height: 490px;
    margin-top: -1655px;
  }

  .u-section-4 .u-group-1 {
    width: 431px;
    min-height: 483px;
    margin-top: -183px;
    margin-right: 71px;
  }

  .u-section-4 .u-list-1 {
    width: 649px;
    margin-top: 51px;
    margin-bottom: 46px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1415px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1816px;
  }

  .u-section-4 .u-shape-1 {
    width: 432px;
    height: 1185px;
    margin-top: 631px;
  }

  .u-section-4 .u-image-1 {
    width: 432px;
    height: 465px;
    margin-top: -1761px;
  }

  .u-section-4 .u-group-1 {
    width: 442px;
    margin-top: -27px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-list-1 {
    width: 491px;
    margin-top: 56px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2254px;
  }

  .u-section-4 .u-shape-1 {
    height: 1097px;
    margin-top: 529px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 366px;
    margin-top: -1566px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 420px;
    width: 255px;
    margin-top: -45px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 41px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 255px;
    margin-top: 42px;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 651px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1115px;
  margin: 15px 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 636px;
}

.u-section-5 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-5 .u-text-1 {
  margin: 0 322px 0 73px;
}

.u-section-5 .u-shape-1 {
  height: 517px;
  background-image: linear-gradient(to right, #478ac9, #f1c50e);
  width: 472px;
  margin: 14px 50px 0 auto;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -443px 61px 0 85px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 143px auto 0;
  padding: 15px 44px 17px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 636px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 636px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 404px;
  height: 584px;
  margin: 14px 35px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
    margin-right: 276px;
    margin-left: 26px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 20px;
    margin-right: 29px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -167px;
    margin-right: 15px;
    margin-left: 38px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 469px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -124px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1197px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 798px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
    margin-right: 122px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -167px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 898px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 580px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 224px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 454px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 491px;
    margin-right: 0;
  }
}